# Ignore rom files for test purposes
**/roms/*
**/bin/
**/bin/*
**/bin/Debug/
**/bin/Release/
**/obj/
**/obj/*
**/obj/Debug/
**/obj/Release/

# Ignore Visual Studio Code temp files for .NET Core projects
*.cache
*.json
*.dll
*.exe
*.pdb
/build/
*.suo
*.user
_ReSharper.*/
*.sdf
*.opensdf
*.tlog
*.log
TestResult.xml
*.VisualState.xml 
Version.cs
Version.h
Version.cpp